# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.py]
indent_size = 4
max_line_length = 79

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
# Markdown usa dois espacos no fim da linha para quebra: nao aparar.
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
